
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SairaRomanExtraBold.ttf"); font-family : "Saira"; font-weight : 800;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SairaRomanRegular.ttf"); font-family : "Saira"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SairaRomanLight.ttf"); font-family : "Saira"; font-weight : 300;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SairaRomanSemiBold.ttf"); font-family : "Saira"; font-weight : 600;  }